#sticky,
#stickyList,
#stickyWrapper{
  width: 100%;
  height: 100%;
}
.swiper-container#stickyList {
  overflow: hidden;
}
#stickyList .swiper-slide {
  background: var(--mj-card-bg);
  position: relative;
  border-radius: 12px;
  transition: 0.3s;
  width: 100%;
  height: 100%;
}
#stickyList .swiper-slide .grid-img {
  overflow: hidden;
  height: 16rem;
}
#stickyList .swiper-slide .grid-img img {
  transition: 0.3s;
  object-fit: cover;
  display: block;
  width: 100%;
  height: 100%;
}
#stickyList .swiper-slide:hover .grid-title{
  opacity: .9;
  cursor: pointer !important;
}
#stickyList .swiper-slide:hover .grid-img{
  filter: blur(5px);
}
#stickyList .swiper-slide:hover .grid-title span,
#stickyList .swiper-slide:hover .grid-title i{
  transform: translateX(0px);
  transition: .5s;
}
#stickyList .swiper-slide .grid-title span,
#stickyList .swiper-slide .grid-title i{
  transform: translateX(-100px);
  transition: .5s;
}
#stickyList .swiper-slide .grid-title {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  background: var(--mj-theme);
  color: var(--mj-white);
  padding-left: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  transition: .5s;
}
#stickyList .swiper-slide .grid-title span {
  font-size: 5rem;
  font-weight: 700;
  line-height: 5rem;
}
#stickyList .swiper-slide .grid-title i {
    font-size: 4rem;
    opacity: .6;
}
@media screen and (max-width: 768px) {
  #sticky {
    display: none;
  }
}